<form class="login-form" action="/reset" method="POST" novalidate>
  <div class="form-control">
    <label for="email">E-Mail</label>
    <% { %>
      <% const err = locals.errors?.find(e => e.path === 'email'); %>
      <input type="email" id="email" name="email" class="<%= err ? 'invalid' : ''%>" value="<%= input.email ?? '' %>" required>
      <% if (err) { %>
        <p class="error"><%= err.msg %> </p>
      <% } %>
    <% } %>
  </div>
  <button type="submit" class="btn">Reset Password</button>
  <%- include('../includes/csrf-token.ejs') %>
</form>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/auth.css">
<link rel="stylesheet" href="/css/forms.css">
