<% if (editing) { %>
<form class="product-form" action="/admin/edit-product/<%= product.title %>", method="POST" novalidate>
  <div class="form-control">
    <label for="id">ID</label>
    <input type="text" name="id" value="<%= product._id %>" readonly>
  </div>
<% } else { %>
<form class="product-form" action="/admin/add-product", method="POST" novalidate>
<% } %>
  <div class="form-control">
    <label for="title">Title</label>
    <% { %>
      <% const err = locals.errors?.find(e => e.path === 'title'); %>
      <input type="text" id="title" name="title" class="<%= err ? 'invalid' : ''%>" value="<%= product.title %>" required>
      <% if (err) { %>
        <p class="error"><%= err.msg %> </p>
      <% } %>
    <% } %>
  </div>
  <div class="form-control">
    <label for="imageUrl">image URL</label>
    <% { %>
      <% const err = locals.errors?.find(e => e.path === 'imageUrl'); %>
      <input type="text" id="imageUrl" name="imageUrl" class="<%= err ? 'invalid' : ''%>" value="<%= product.imageUrl %>">
      <% if (err) { %>
        <p class="error"><%= err.msg %> </p>
      <% } %>
    <% } %>
  </div>
  <div class="form-control">
    <label for="price">Price</label>
    <% { %>
      <% const err = locals.errors?.find(e => e.path === 'price'); %>
      <input type="number" step="0.01" id="price" name="price" class="<%= err ? 'invalid' : ''%>" value="<%= product.price %>" required>
      <% if (err) { %>
        <p class="error"><%= err.msg %> </p>
      <% } %>
    <% } %>
  </div>
  <div class="form-control">
    <label for="description">Description</label>
    <% { %>
      <% const err = locals.errors?.find(e => e.path === 'description'); %>
      <textarea rows="5" id="description" name="description" class="<%= err ? 'invalid' : ''%>"><%= product.description %></textarea>
      <% if (err) { %>
        <p class="error"><%= err.msg %> </p>
      <% } %>
    <% } %>
  </div>
  <button type="submit" class="btn"><%= editing ? 'Update': 'Add' %> Product</button>
  <%- include('../includes/csrf-token.ejs') %>
</form>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">

