<% if (prods.length > 0) { %>
  <h1><%= pageTitle %></h1>
  <ul>
    <% prods.forEach(p => { %>
      <li>
        <p><%= p.title %> (<%= p.qty %>)</p>
        <form action="/cart-delete-item" method="POST">
          <input type="hidden" value="<%= p.id %>" name="productId">
          <button class="btn" type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } else { %>
  <h1>No Products in Cart!</h1>
<% } %>

<%- contentFor('styles') %>
