<% if (prods.length > 0) { %>
  <h1><%= pageTitle %></h1>
  <div class="cart">
    <ul>
      <% prods.forEach(p => { %>
        <li>
          <h1><%= p.product.title %></h1>
          <h2>Quantity: <%= p.quantity %></h2>
          <form action="/cart-delete-item" method="POST">
              <input type="hidden" value="<%= p.product._id %>" name="productId">
              <button class="btn danger" type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    </ul>
    <hr />
    <div class="centered">
      <!-- <form action="/create-order" method="POST">
        <button type="submit" class="btn">Order Now!</button>
        <%- include('../includes/csrf-token.ejs') %>
      </form> -->
      <a className="btnm" href="/checkout">Order now</a>
    </div>
  </div>
<% } else { %>
  <h1>No Products in Cart!</h1>
<% } %>

<%- contentFor('styles') %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/forms.css">
